.container {
  background-image: url('../assets/backround-images/main-menu-background.webp');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.mainMenu {
  display: flex;
  flex-direction: column;
}



